<div *ngFor="let gemstone of gemstones" class="card card-body mb-2">
    <div class="row">
        <div class="col-md-8">
            <ul>
                <li>
                    id: {{gemstone.id}}
                </li>
                <li>
                    nombre: {{gemstone.nombre}}
                </li>
                <li>
                    significado: {{gemstone.significado}}
                </li>
                <li>
                    unidad_masa: {{gemstone.unidad_masa}}
                </li>
                <li>
                    masa: {{gemstone.masa}}
                </li>
                <li>
                    moneda: {{gemstone.moneda}}
                </li>
                <li>
                    precio: {{gemstone.precio}}
                </li>
            </ul>
        </div>
    </div>
</div>